@model VideoListModel
@{
    ViewData["Title"] = "Home Page";
}

@section styles{
    <link rel="stylesheet" href="/user/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
}

<div id="loadVideo" class="videos row">

</div>
<div id="container">
    <div id="progress" style="display:none">
        <h4>Loading...</h4>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
        GetData();
    })
        function GetData() {
        $.ajax({
            method: 'GET',
            url: '/Video/GetData',
            data: {},
            dataType: 'json',
            beforeSend: function () {
                $("#progress").show();
            },
            success: function (data) {
                $.each(data.videos, function (key, value) {
                    var section = `
            <div class="col-4">
                <article class="video-container">
                    <input type="hidden" value="${value.id}" />
                    <div onclick="window.location.href = '/Video/VideoStreaming/${value.id}'">
                                <video width="290" height="170">
                                    <source src=/Video/${value.videoName} type="video/mp4">
                                </video>
                        <div class="video-bottom-section">
                            <a href="#">
                                <img class="channel-icon" src="/user/thumbnil.jpg" />
                            </a>
                            <div class="video-details">
                                <a href="#" class="video-title">${value.videoTitle}</a>
                                <a href="#" class="video-channel-name">${value.channelName}</a>
                                <div class="video-metadata">
                                     <span>${value.viewCount} views</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
         </section>
        `
                    $('#loadVideo').append(section);
                });
            },

            complete: function () {
                $("#progress").hide();
            },
            error: function () {
                alert("Error while retrieving data!");
            }
        });
    }
    </script>
}
